@charset "utf-8";
html {
    width:100%;
    height: 100%;
}
body {
    font:16px/1.4 "Nanum Gothic",sans-serif;
    color:#333;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {list-style:none;}

a,a:link{
    text-decoration:none;
    color:inherit;
}

.notext {
    display: none;
}



* {margin: 0; padding: 0; vertical-align: top; border: 0; outline: 0;}

/*header*/

header {
  background: url("../images/main.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #accff9;
  width: 100%;
  height: 700px;
}

header .topnav .logo, ul {
  display: inline-block;
}

header ul {
  margin-left: 700px;
}

.logo {
  float: left;
  margin:5px 15px;
}

.topnav {
  width: 100%;
  float: left;
  height: 10%;
  position: fixed;
  z-index: 9999;
  font-weight: bolder;
  /* background-color: #EEE; */
  box-sizing: border-box;
  padding: 12px 18px;
  box-shadow: 0px 4px 7px #777;
  transition: background-color 0.4s ease-out;
}

.topnav ul li {
  padding: 20px 20px;
  position: relative;
  float: left;
  color: #395abb;
}

.topnav ul li:hover {
  color:#c25996;
}

.topnav .scroll {
  background-color: #A1572F;
  color: #eef;
}

/*welcome*/

.welcome {
  position: relative;
  margin-left:55% ;
  padding-top: 15%;
}

.welcome_title {
  font-size: 50px;
  color: #7496d6;
}

.welcome_text {
  font-size: 25px;
  padding-top: 20px;
  color: #395abb;
}

.welcome p {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7496d6;
}

/* about */

.about {
  height: 800px;
  position: relative;
  margin-left: 15%;
  padding-top:150px;
  text-transform: uppercase;
}

.about > p {
  text-align: left;
}

.about_title {
  font-size: 50px;
  font-weight: 900;
  color: #333;
}

.about_title span {
  color: #7496d6;
}

.about_title2 {
  font-size: 25px;
  font-weight: 700;
  color: #333;
  opacity: 0.7;
}

.about_title2 span {
  color: #7496d6;
}

.about_text1 {
  font-weight: 700;
  color: #333;
  opacity: 0.5;
}

.about_text2 {
  font-weight: 700;
  color: #c69dd5;
}

/*section*/

section {
  padding-top:150px ;
  text-align: center;
}

/*skills*/

.skills {
  background-color: #7496d6;
  height: 800px;
}

.skill_title{
  line-height: 1.5;
  text-transform: uppercase;
	padding: 6.0rem 0;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #333;
}

.skiii_text {
  font-size: 25px; 
}

.skiii_text span {
  color: #c25996;
}

#bars {
  padding-top: 300px;
	margin: 2em auto;
	max-width: 960px;
	overflow: hidden;
}

.bar {
	float: left;
	width: 20%;
	text-align: center;
}

.bar h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}

/*portfolio*/
/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
	padding: 3.5rem 0;
	color: #7496d6;
}

.heading > span {
  display: block;
  font-size: 45px;
  color : #333
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}




/*--------------------footer-------------------*/

footer {
  position: relative;
  text-align: center;
  margin-top: 300px;
  
}

/*--------------contact----------------------*/

.contact {
  background-color: #7496d6;
}

.contact_me p {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  
}

/* Style inputs */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

label {
  font-weight: 700;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.copy {
  /* padding-top: 300px; */
  background-color: #333;
}

.copy h5 {
  color: white;
}

.copy h6 {
  color: white;
}

/*top btn*/

#move_top_btn {
  position: fixed;
  right: 2%;
  bottom: 50px;
  display: none;
  z-index: 999;
  border: 1px solid black;
  font-weight: bold;
}

/*------------------------media query--------------------------*/

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  

}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  

}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   
  
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  
  
}




